In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [ ]:
Values: 'hello', -87.8, 6
Expressions: *, -, /, +

In [ ]:
2. What is the difference between string and variable?

In [ ]:
String is a type of data and variable is a storage location

In [ ]:
3. Describe three different data types.

In [ ]:
Integers: They are whole numbers 
Lists: They are collection of data inside square breackets and are mutable (e.g., [23, 'str', 4234, 78.90]
Boolean: They return True or false

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
Expression is made up of values, operators and variables. It produces a result

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
Expression is made up of values, operators and variables that produces a result.
A statement is a line of instruction that the python executes (e.g., assignment statement)

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
Thus bacon = 23

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
Both the terms returns the same value 'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Python does not allow variable names to start with numbers

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
Type casting functions such as int(), float() and str() can be used respectively

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos'

In [ ]:
Because a string type element cannot be concatenated with a integer type element 
we can fix the issue by type casting the int to str and then concatenate the elements